.ImageContainer {
  position: relative;
}

.MainImage {
  width: 100%;
  cursor: pointer;
}

.AdditionalImagesContainer {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

.AdditionalImage {
  width: 80px;
  margin-right: 5px;
  cursor: pointer;
}
